/* Header */
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
/* All */
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
/* TIme */
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
/* Congratulation */
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
/* Play Again */
@import url('https://fonts.googleapis.com/css?family=Playball');
/* Loading Headding text */
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
/* Opening Modal body */
@import url('https://fonts.googleapis.com/css?family=Arvo');
/* Modal Details */
@import url('https://fonts.googleapis.com/css?family=Rajdhani');
/* Header p */
@font-face{
	font-family: avengers;
	src: url(../font/Miamagon.otf);
}

/* Default Style -------------------------- */
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body{
	background: #020202;
}


/* Modal for pause option-------------------- */
.light-modal-content{
	background: #475e6e99!important;
}

.light-modal-header,
.light-modal-footer{
	background: rgba(0, 0, 0, 0.58);
}

.light-modal-footer .music{
	display: inline-block;
	margin-left: 50%;
	box-shadow: inset 0 -1px 1px #9daabb,
    inset 0 1px 0.125em #0f1110;
	background: linear-gradient(to right top, #474747, #202020);
	border-radius: 10px;
	height: 24px;
    margin-left: 50%;
    width: 29px;
	text-align: center;
	cursor: pointer;
}

.light-modal-footer .music:hover{
	background: #ff3c6a;
}

.light-modal-footer .music i{
	line-height: 25px;
	padding-right: 3px;
}

/* Container Part------------------- */
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #fff;
	background: url(../img/avenger.jpg) center center no-repeat;
	background-size: cover;
}

/* Header Part------------------------- */
header{
	text-align: center;
}

.header-title {
	font-family: 'Fredericka the Great', cursive;
	font-weight: 400;
	font-size: 64px;
	margin-bottom: 0;
	margin-top: 10px;
}

.header-desc{
	font-family: avengers, cursive;
	font-size: 74px;
	color: #405864;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
}


/* Styles for the Score Panel Section----------------- */
.score-panel {
  text-align: center;
  margin-bottom: 10px;
  font-size: 24px;
  color: #e3f0f8;
  font-weight: 900;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  max-width: 450px;
  justify-content: space-evenly;
}

.score-panel .stars {
	padding: 0 5px;
	display: inline-block;
	margin: 0 5px 0 0;
}

.score-panel .stars li {
	list-style: none;
	display: inline-block;
}

.fa-star {
	color:#435f6f;
}

.score-panel a{
	color: #fff;
}

.pause,
.play,
.timer,
.restart,
.moves-desc,
.stars{
	display: inline-block;
	padding: 0 10px;
	cursor: pointer;
	text-align: center;
	box-shadow: inset 0 -1px 1px #9daabb,
    inset 0 1px 0.125em #0f1110;
	background: linear-gradient(to right top, #474747, #202020);
  border-radius: 10px;
  line-height: 50px;
}

.play{
	margin-right: 4px;
	padding-top: 5px;
	padding-bottom: 3px;
}

.moves-desc,
.timer{
	font-family: 'Amatic SC', cursive;
	font-weight: 300;
	padding-top: 2px;
  padding-bottom: 2px;
}

#mute{
	display: inline-block;
	box-shadow: inset 0 -1px 1px #9daabb,
    inset 0 1px 0.125em #0f1110;
	background: linear-gradient(to right top, #474747, #202020);
	border-radius: 10px;
	padding: 0 5px;
	cursor: pointer;
}

/* Style for Card Container----------------------- */
.deck {
	width: 85%;
	background: #716f712e;
	padding: 1rem;
	border-radius: 4px;
	box-shadow: 8px 9px 26px 0 rgba(46, 61, 73, 0.5);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin: 0 0 3em;
}

.deck .card img {
	width: 100%;
	display: none;
	height: 100%;
}

.deck .card.show img {
	display: inline;
}

.deck .card.match img{
	display: inline;
}

.deck .card {
	height: 3.7rem;
	width: 3.7rem;
	margin: 0.2rem 0.2rem;
	background: #475e6e99;
	font-size: 0;
	color: #ffffff;
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
	transform: rotateY(0);
	background: #f6f6ef99;
	cursor: default;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
  animation: openStyle 0.7s;
}

@keyframes openStyle {
	0% {
		transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		animation-timing-function: ease-in;
		opacity: 0;
	}

	40% {
		transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
		animation-timing-function: ease-in;
	}

	60% {
		transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
		opacity: 1;
	}

	80% {
		transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
	}

	100% {
		transform: perspective(400px);
	}
}

.deck .card.match {
	cursor: default;
	background: #f6f6ef99;
	font-size: 33px;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
  animation: matchStyle 0.7s
}

@keyframes matchStyle {
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, .95, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}

.deck .card.unmatched {
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
  background: #f6f6ef99;
  animation: unmatchedStyle 0.7s
}

@keyframes unmatchedStyle {
	0& {
		transform: scale3d(1, 1, 1);
	}

	50% {
		transform: scale3d(1.2, 1.2, 1.2);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}

.deck .card.disabled {
	pointer-events: none;
	opacity: 0.9;
}

.deck-disabled{
	pointer-events: none;
}


/* Style for Congratulation Modal ----------------------- */

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}

.overlay:target {
	visibility: visible;
	opacity: 1;
}

.cong_modal {
	margin: 70px auto;
	padding: 20px;
	background: #ffffff;
	border-radius: 5px;
	width: 85%;
	position: relative;
	transition: all 5s ease-in-out;
	font-family: 'EB Garamond', serif;
	color: rgba(255, 255, 255, 0.726);
	font-weight: 800;
	background: url(../img/avenger.jpg) center center;
	background-size: cover;

}

.cong_modal h2 {
	margin-top: 0;
  color: #202c2d;
  text-shadow:
    0 1px #808d93,
    -1px 0 #cdd2d5,
    -1px 2px #808d93,
    -2px 1px #cdd2d5,
    -2px 3px #808d93,
    -3px 2px #cdd2d5,
    -3px 4px #808d93,
    -4px 3px #cdd2d5,
    -4px 5px #808d93,
    -5px 4px #cdd2d5,
    -5px 6px #808d93,
    -6px 5px #cdd2d5,
    -6px 7px #808d93,
    -7px 6px #cdd2d5,
    -7px 8px #808d93,
    -8px 7px #cdd2d5;
	font-family: Tahoma, Arial, sans-serif;
	text-align: center;
	font-weight: 600;
}

.cong_modal .close {
	position: absolute;
	top: 20px;
	right: 30px;
	width: 35px;
	text-align: center;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #eedcd5;
	border-radius: 5px;
	box-shadow: inset 0 -1px 1px #9daabb,
    inset 0 1px 0.125em #0f1110;
	background: linear-gradient(to right top, #474747, #202020);
	cursor: pointer;
}

.cong_modal .close:hover {
	color: #E5F720;
}

.cong_modal .content-1,
.content-2 {
	max-height: 30%;
	overflow: auto;
	text-align: center;
}

.deck .card.show {
	font-size: 33px;
}

.show {
	visibility: visible !important;
	opacity: 100 !important;
}

#starRating li {
	display: inline-block;
}

#play-again,
#submits
 {
	padding: 0.7rem 1rem;
	font-size: 1.5rem;
	display: block;
	margin: 0 auto;
	width: 30%;
	font-family: 'Playball', cursive;
	color: #eedcd5;
	border-radius: 5px;
	box-shadow: inset 0 -1px 1px #9daabb, inset 10px 10px 1.125em #0f1110;
	background: linear-gradient(to right top, #474747, #202020);
	cursor: pointer;
	border-color: none;
}
#submits{
  text-decoration: none!important;
}
#play-again:hover{
	color: #E5F720;
}
.more{
	display: flex;
}
.submit img{
	width: 23px;
}
.play-again i,
.submit i,
.score i{
	font-size: 1.1rem;
}
#mute{
	line-height: 50px;
}


/* Change Default style fro scoreboard js -------------- */

#tbl_header .tbl_scores{
	padding-right: 12px;
}

.score_pos_first{
	color: rgb(2, 236, 179)!important;
	font-size: 23px;
  }
.score_pos_second{
	color: rgb(56, 184, 60)!important;
	font-size: 19px!important;
}
.score_pos_third{
	color: rgb(203, 110, 14)!important;
	font-size: 17px!important;
}
  

  /* Page Loading Style Section ----------------- */

.page-load{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  opacity: 100;
  font-family: Quicksand;
  background: url('../img/Optimized-avenger.jpg') center center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  z-index: 1000;
}

.content-wrap{
  position: relative;
  width: 100%;
  height: 20%;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: topToMiddle 2s ease-in-out ;
}

@-webkit-keyframes topToMiddle {
  0% {
    top: -200px;
   }
  100% {
    top: 0px
    }
  }
  @-o-keyframes topToMiddle {
    0% {
      top: -200px;
     }
    100% {
      top: 0px
     }
  }
  @-moz-keyframes topToMiddle {
    0% {
      top: -200px;
     }
    100% {
      top: 0px
     }
  }
  @keyframes topToMiddle {
    0% {
      top: -200px;
     }
    100% {
      top: 0px
     }
  }

  .content-wrap1{
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: leftToMiddle 2s ease-in-out ;
  }

@-webkit-keyframes leftToMiddle {
  0% {
    left: -200px;
   }
  100% {
    left: 0px
   }
}
@-o-keyframes leftToMiddle {
  0% {
    left: -200px;
   }
  100% {
    left: 0px
   }
}
@-moz-keyframes leftToMiddle {
  0% {
    left: -200px;
   }
  100% {
    left: 0px
   }
}
@keyframes leftToMiddle {
  0% {
    left: -200px;
   }
  100% {
    left: 0px
   }
}

  .content-wrap2{
    position: relative;
    width: 50%;
    height: 100%;
    float: right;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
	  justify-content: center;
    animation: rightToMiddle 2s ease-in-out;
  }

  @-webkit-keyframes rightToMiddle {
    0% {
	  right: -600px;
	  background-position: 0%;
     }
    100% {
	  right: 0px;
	  background-position: 400%;
     }
  }

  @-o-keyframes rightToMiddle {
    from {
      right: -600px;
     }
    to {
      right: 0px;
     }
  }

  @-moz-keyframes rightToMiddle {
    from {
      right: -600px;
     }
    to {
      right: 0px;
     }
  }

  @keyframes rightToMiddle {
    from {
      right: -600px;
     }
    to {
      right: 0px;
     }
  }

  .text-effect{
    list-style-type: none;
    font-size: 30px;
    text-shadow:    0 1px 0 hsl(174,5%,80%),
                    0 2px 0 hsl(174,5%,75%),
                    0 3px 0 hsl(174,5%,70%),
                    0 4px 0 hsl(174,5%,66%),
                    0 5px 0 hsl(174,5%,64%),
                    0 6px 0 hsl(174,5%,62%),
                    0 7px 0 hsl(174,5%,61%),
                    0 8px 0 hsl(174,5%,60%),
	
	                  0 0 5px rgba(0,0,0,.05),
                    0 1px 3px rgba(0,0,0,.2),
                    0 3px 5px rgba(0,0,0,.2),
                    0 5px 10px rgba(0,0,0,.2),
                    0 10px 10px rgba(0,0,0,.2),
                    0 20px 20px rgba(0,0,0,.3);
  }

  .text-effect li{
    display: inline-block;
    font-size: 2em;
    color: #fff;
    transition: all 2s ease;
    margin-right: 5px;
  }

  .input-field {
      position: relative;
  }

  #input{
    border-radius: 5px;
    padding: 5px;
    margin-top: 8px;
  }
  .input-field input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #ddd;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    resize: none;
}
.input-field label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    transition: .5s
}
.input-field input:focus+label,
.input-field input:valid+label {
    top: -25px;
    font-size: 14px;
    padding: 2px 5px;
    background: #6a7985;
    color: #fff;
    border-radius: 4px;
}

.btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    opacity: 1;
    margin-top: 10px;
    color: #fff;
    padding: 9px 24px;
    border: none;
    outline: none;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 20px;
    transition: .5s;
    padding-top: 7px;
    box-sizing: border-box;
    background: linear-gradient(90deg, rgba(0,0,0,0.6), #43515b, #6b7984, #6a7985);
    background-size: 400%;
    z-index: 1;
    animation: btn-anim 8s linear infinite;
    font-family: 'Share Tech Mono', monospace;
    font-weight: 600;
}


.btn:hover {
    background: linear-gradient(90deg, rgba(0,0,0,0.6), #43515b, #6b7984, #6a7985);
    background-size: 400%;
    animation: btn-anim 8s linear infinite;
}


@-webkit-keyframes btn-anim {
  0% {
      background-position: 0%;
  }
  100% {
      background-position: 400%;
  }
}
@-o-keyframes btn-anim {
  0% {
      background-position: 0%;
  }
  100% {
      background-position: 400%;
  }
}
@-moz-keyframes btn-anim {
  0% {
      background-position: 0%;
  }
  100% {
      background-position: 400%;
  }
}
@keyframes btn-anim {
  0% {
      background-position: 0%;
  }
  100% {
      background-position: 400%;
  }
}

  .text-effect li:nth-child(9){
    margin-right: 0;
  }
  .content-hidden .text-effect li{
    opacity: 0;
  }
  .content-hidden .text-effect li:nth-child(1){
    transform: translate3d(-80px, 0, 0);
  }
  .content-hidden .text-effect li:nth-child(2){
    transform: translate3d(-60px, 0, 0);
  }
  .content-hidden .text-effect li:nth-child(3){
    transform: translate3d(-40px, 0, 0);
  }
  .content-hidden .text-effect li:nth-child(4){
    transform: translate3d(-20px, 0, 0);
  }
  .content-hidden .text-effect li:nth-child(5){
    transform: translate3d(0, 0, 0);
  }
  .content-hidden .text-effect li:nth-child(6){
    transform: translate3d(20px, 0, 0);
  }
  .content-hidden .text-effect li:nth-child(7){
    transform: translate3d(40px, 0, 0);
  }
  .content-hidden .text-effect li:nth-child(8){
    transform: translate3d(60px, 0, 0);
  }
  .content-hidden .text-effect li:nth-child(9){
    transform: translate3d(80px, 0, 0);
  }
  .content-hidden .text-effect li:nth-child(10){
    transform: translate3d(90px, 0, 0);
  }
  .content-hidden .text-effect li:nth-child(112){
    transform: translate3d(100px, 0, 0);
  }
  .content-hidden .text-effect li:nth-child(9){
    transform: translate3d(110px, 0, 0);
  }
  .content-hidden .enter-button{
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }


/* Opening Modal FOr Empty Name---------------- */

  #modal {
    left: 50%;
    margin: -250px 0 0 -32%;
    opacity: 0;
    position: absolute;
    top: -50%;
    visibility: hidden;
    width: 45%;
    box-shadow: 0 3px 7px rgba(0,0,0,.25);
    box-sizing: border-box;
    transition: all 1s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out
  }

  #modal:target {
    opacity: 1;
    top: 50%;
    visibility: visible
  }

  #modal .header, #modal .footer {
  border-bottom: 1px solid #1ABC9C;
  border-radius: 5px 5px 0 0
}
#modal .header h2 i{
  color: #e23333;
}
#modal .footer {
  border: none;
  border-top: 1px solid #e7e7e7;
  border-radius: 0 0 5px 5px
}

#modal h2 {
  margin: 0;
  color: #fff;
  text-align: center;
}

#modal .btn { 
  float: right;
}

#modal .copy, #modal .header, #modal .footer {
  padding: 10px;
  color: #fff
}

.modal-content {
  background: #43515b;
  position: relative;
  z-index: 2000000!important;
  border-radius: 5px;
  color: #fff
}

#modal .copy {
  background: #6a7985
}
#modal .copy p{
  font-family: 'Arvo', serif;
  font-size: 15px;
}
#modal .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10
}

.copy a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #E74C3C;
}

.copy .thanks{
  font-size: 19px;
  color: rgb(133, 0, 109);
}

/* Setting Section ----------------- */

.circular-menu{
  position: fixed;
  bottom: 1em; 
  right: 1em;
}

.circular-menu .floating-btn{
  display: block;
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  background-color: #4b4140;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
  color: #fff;
  text-align: center;
  line-height: 3.9;
  cursor: pointer;
  outline: 0;
}

.circular-menu .floating-btn:active{
  box-shadow: 0 4px 8px rgba(0,0,0,.4);
}

.circular-menu .floating-btn i{
  font-size: 1.3em;
  transition: transform .2s;
}

.circular-menu.active .floating-btn i{
  transform: rotate(-45deg);
}

.circular-menu::after{
   display: block;
   content: '';
   width: 3.5em;
   height: 3.5em;
   border-radius: 50%;
   position: absolute;
   top: 0;
   right: 0;
   z-index: -2;
   background-color: #1c352d;
   transition: all .3s ease-in-out; 
}

.circular-menu.active::after{
  transform: scale3d(5.5,5.5,1);
  transition-timing-function: cubic-bezier(.68,1.55,.265,1)
}

.circular-menu .items-wrapper{
  padding: 0;
  margin: 0;
}

.circular-menu .menu-item{
  position: absolute;
  top: .2em;
  right: .2em;
  z-index: -1;
  display: block;
  text-decoration: none;
  color: rgb(255,255,255);
  font-size: 1em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  text-align: center;
  line-height: 3;
  background-color: rgba(0, 0, 0, .1);
  transition: transform .3s ease, background .2s ease; 
}

.circular-menu .menu-item:hover{
  background-color: hsla(0,0,0,.3);
}

.circular-menu.active .menu-item:hover{
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.circular-menu.active .menu-item:nth-child(1){
  transform: translate3d(1em, -7em, 0);
}

.circular-menu.active .menu-item:nth-child(2){
  transform: translate3d(-3.5em, -6.3em, 0);
}

.circular-menu.active .menu-item:nth-child(3){
  transform: translate3d(-6.5em, -3.2em, 0);
}

.circular-menu.active .menu-item:nth-child(4){
  transform: translate3d(-7em, 1em, 0);
}
.items-wrapper a{
  border: 1px solid #fff;
  color: #fff;
  box-shadow: inset 0 -1px 1px #9daabb,
    inset 0 1px 0.125em #0f1110;
  background: linear-gradient(to right top, #474747, #202020);
  cursor: pointer;
}

/* Opening Modal FOr Info---------------- */
#modal-submit {
  left: 50%;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 45%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all 1s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out
}

#modal-submit:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}

#modal-submit .header, #modals .footer {
border-bottom: 1px solid #1ABC9C;
border-radius: 5px 5px 0 0
}
#modal-submit .header h2 i{
color: #e23333;
}
#modal-submit .footer {
border: none;
border-top: 1px solid #e7e7e7;
border-radius: 0 0 5px 5px
}

#modal-submit h2 {
margin: 0;
color: #fff;
text-align: center;
}


#modal-submit .copys, #modal-submit .header, #modal-submit .footer {
  padding: 10px;
  color: #fff;
  margin-top: 0;
}

.modal-submit-content {
background: #43515b;
position: relative;
z-index: 20;
border-radius: 5px;
color: #fff
}

#modal-submit .copy-submit {
background: #6a7985;
padding: 7px;
}
#modal-submit .copy-submit p{
font-family: 'Arvo', serif;
font-size: 15px;
}
#modal-submit .overlay {
background-color: #000;
background: rgba(0,0,0,.8);
height: 100%;
left: 0;
position: fixed;
top: 0;
width: 100%;
z-index: 10
}

.copy-submit a {
color: #fff;
text-decoration: none;
display: inline-block;
padding: 5px 10px;
border-radius: 5px;
background-color: #E74C3C;
}


/* Opening Modal FOr Info---------------- */
#modals {
  left: 50%;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 45%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all 1s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out
}

#modals:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}

#modals .header, #modals .footer {
border-bottom: 1px solid #1ABC9C;
border-radius: 5px 5px 0 0
}
#modals .header h2 i{
color: #e23333;
}
#modals .footer {
border: none;
border-top: 1px solid #e7e7e7;
border-radius: 0 0 5px 5px
}

#modals h2 {
margin: 0;
color: #fff;
text-align: center;
}

#modals .btn { float: right }

#modals .copys, #modals .header, #modals .footer {
padding: 10px;
color: #fff
}

.modal-content {
background: #43515b;
position: relative;
z-index: 20;
border-radius: 5px;
color: #fff
}

#modals .copys {
background: #6a7985
}
#modals .copys p{
font-family: 'Arvo', serif;
font-size: 15px;
}
#modals .overlay {
background-color: #000;
background: rgba(0,0,0,.8);
height: 100%;
left: 0;
position: fixed;
top: 0;
width: 100%;
z-index: 10
}

.copys a {
color: #fff;
text-decoration: none;
display: inline-block;
padding: 5px 10px;
border-radius: 5px;
background-color: #E74C3C;
}
.copys.thanks{
font-size: 19px;
color: rgb(133, 0, 109);
}

/* Opening Modal FOr Help section---------------- */
#modal-help {
  left: 50%;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 45%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all 1s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}

#modal-help:target {
  opacity: 1;
  top: 50%;
  visibility: visible;
}

#modal-help .header, #modal-help .footer {
  border-bottom: 1px solid #1ABC9C;
  border-radius: 5px 5px 0 0;
}
#modal-help .header h2 i{
  color: #e23333;
}
#modal-help .footer {
  border: none;
  border-top: 1px solid #e7e7e7;
  border-radius: 0 0 5px 5px;
}

#modal-help h2 {
  margin: 0;
  color: #fff;
  text-align: center;
}

#modal-help .btn { 
  float: right;
}

#modal-help .copy-help, #modal-help .header, #modal-help .footer {
  padding: 10px;
  color: #fff;
}

.modal-content {
  background: #43515b;
  position: relative;
  z-index: 20;
  border-radius: 5px;
  color: #fff;
}

#modal-help .copy-help {
  background: #6a7985;
}
#modal-help .copy-help p{
  font-family: 'Arvo', serif;
  font-size: 15px;
}
#modal-help .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.copy-help a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #E74C3C;
  margin-top: 10px;
}
.copy-help.thanks{
  font-size: 19px;
  color: rgb(133, 0, 109);
}

/* Help info Section------------ */
.info {
  width: 100%;
  height: 100%;
  box-shadow: inset 0 -1px 1px #9daabb,
  inset 0 1px 0.125em #0f1110;
  background: linear-gradient(to right top, #474747, #202020);
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: repeat(6, minmax(50, 1fr));
  box-shadow: 2px 2px 2px #2a2424;
}

.box {
  text-align: center;
}

.box img {
  height: 100%;
  width: 100%;
}

.box2,
.box4,
.box6,
.box8,
.box10,
.box12,
.box14,
.box16,
.box18 {
  background-color: #23282e;
  font-family: 'Rajdhani',
  sans-serif;
  font-weight: 600;
  color: #fff;
}

.box1,
.box3,
.box5,
.box7,
.box9,
.box11,
.box13,
.box15,
.box17 {
  margin: auto;
  color: #dfcbcb;
}
.box17 i{
  color: red;
}
.box18 a{
  text-decoration: none;
  display: inline;
  padding: 0;
  border-radius: 0;
}


/* Social Icon Style--------------- */
.nav-container{
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

nav{
  position: relative;
}

nav .nav-icon{
  width: 60px;
  height: 60px;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
  border-radius: 50%;
  box-shadow: inset 0 -1px 1px #9daabb,
    inset 0 1px 0.125em #0f1110;
	background: linear-gradient(to right top, #474747, #202020);
  cursor: pointer;
  transition: all 0.4s ease;
}

.user{
  margin-left: 20px;
  margin-top: 8px;
  font-size: 22px;
  color: #fff;
}
.nav-icon:hover{
  left: 5px;
}
.clicked {
  margin-left: 10px;
}

nav ul{
  margin-left: 50px;
  display: none;
}

nav ul li{
  margin: 10px;
  text-align: center;
  list-style-type: none;
}

nav ul li a{
  text-align: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: inset 0 -1px 1px #9daabb,
    inset 0 1px 0.125em #0f1110;
	background: linear-gradient(to right top, #474747, #202020);
  padding: 10px 12px;
  display: block;
  text-decoration: none;
  font-family: segoe-ui;
  font-weight: bold;
  padding-top: 15px;
}


nav ul li:nth-of-type(1),
nav ul li:nth-of-type(4){
  margin-left: -40px;
}

nav ul li:nth-of-type(2){
  margin-left: 40px;
}

nav ul li:nth-of-type(3){
  margin-top: 30px;
  margin-left: 40px;
}
.fab{
  font-size: 20px;
}
.fb{
  color: #3b5999;
}
.twt{
  color: #55acee;
}
.insta{
  color: #e4405f;
}
.link{
  color: #0077B5;
}


/****** Media queries ----------------------- */

@media (min-width: 768px) {
	.container {
		font-size: 22px;
		padding-top: 28px;
	}

	.deck {
		width: 482px;
    	height: 468px;
	}

	.deck .card {
		height: 100px;
		width: 100px;
	}

	.cong_modal {
		width: 60%;
	}
}

@media (max-width: 601px){
  .deck{
    width: 345px;
  }
}

@media (max-width: 600px){
	.text-effect{
		font-size: 15px;
		padding-left: 0;
	  }
	  .input-field {
		padding-right: 19px;
		font-size: 15px;
	}
	.input-field label{
		font-size: 13px;
	}
}

@media (max-width: 508px){
	.header-desc,
	.header-title{
		font-size: 40px!important;
	}
	.pause,
	.restart{
		padding-top: 8px;
  }
  .pause i{
    line-height: 34px;
  }
  .timer{
    font-size: 20px;
  }
  .btn{
    font-size: 14px!important;
  }
  .input-field input{
    font-size: 10px!important;
  }
  .pause,
  .play,
  .timer,
  .restart,
  .moves-desc,
  .stars{
    line-height: 33px;
  }
}

@media (max-width: 321px){
  .deck{
    width: 92%;
  }
}
